@using KillBug.Classes
@model KillBug.Models.Ticket

@{
    ViewBag.Title = "Dashboard";
}

<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="col">
                    <div class="block">
                        <div class="title"><strong>@Model.Title</strong></div>
                        <div class="checklist">
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-1" name="input-1" class="checkbox-template">
                                <label for="input-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-2" name="input-2" checked="" class="checkbox-template">
                                <label for="input-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-3" name="input-3" class="checkbox-template">
                                <label for="input-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-4" name="input-4" class="checkbox-template">
                                <label for="input-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-5" name="input-5" class="checkbox-template">
                                <label for="input-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-6" name="input-6" class="checkbox-template">
                                <label for="input-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
